html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: darkslategray;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#click {
  display: none;
}

@media (max-width: 768px) {
  #click:checked ~ .MobileNav_menuBtn__3zFWu i:before {
    content: "\f00d";
  }

  #click:checked ~ ul {
    left: 0%;
    /* top: 60px; */
  }
}
