.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  min-height: 300px;
  height: 100vh;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-self: center;
  margin-top: 250px;
}

.heroHeader__title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.heroHeader__subtitle {
  font-size: 1rem;
}

.articles {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.articles__title {
  font-size: 2rem;
}

.articles__subtitle {
  font-size: 1.2rem;
}

.article {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.article__dummy__pic {
  height: 100px;
  width: 100px;
  background-color: darkviolet;
}