@font-face {
  font-family: space-grotesk;
  src: url(../public/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  width: 100%;
  height: 500px;
  background-image: url("/pics/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-self: center;
  margin-top: 250px;
  margin-bottom: 250px;
}

.heroHeader__title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.heroHeader__subtitle {
  font-size: 2.2rem;
}

/* .articles {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.articles__title {
  font-size: 2rem;
}

.articles__subtitle {
  font-size: 1.2rem;
}

.article {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.article__dummy__pic {
  height: 100px;
  width: 100px;
  background-color: darkviolet;
} */

.skylineLogo {
  width: 20vh;
}

.footer {
  background-color: white;
  width: 100%;
  height: 30vh;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerWords {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroButton {
  width: 200px;
  height: 45px;
  background-color: hsl(45deg 45% 78%);
  border: 1px solid white;
  cursor: pointer;
  margin-top: 50px;
  border-radius: 4px;
  outline: none;
}

.heroButton:hover {
  background-color: rgb(235, 235, 112);
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  background-color: hsl(42deg 38% 95%);
  margin-bottom: 100px;
}

.testimonials__title {
  font-size: 2rem;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
}

.testimonials__rating {
  font-size: 1rem;
  margin: 16px 0;
  letter-spacing: 2px;
  font-weight: bold;
}

.testimonials__quotes, 
.testimonials__bottom_quotes {
  font-family: space-grotesk;
  font-size: 8rem;
  line-height: 25%;
  margin: 50px 0 0 0;
  padding: 0;
  color: hsl(41deg 33% 51%);
}

.testimonials__bottom_quotes {
  margin-top: 85px;
  line-height: 5%;
}

.testimonials__description {
  padding: 0 350px;
  font-size: 1.2rem;
  line-height: 135%;
  letter-spacing: 2px;
  color: hsl(20deg 2% 31%);
  margin: 0 0 16px 0;
}

.testimonials__reviewer {
  font-size: 1.2rem;
  font-weight: bold;
  color: hsl(20deg 2% 31%);
  margin-bottom: 10px;
}

.testimonials__reviewer:hover {
  text-decoration: underline;
}

.testimonials__reviewDate {
  font-size: 1rem;
  color: hsl(20deg 2% 31%);
  margin: 0;
}

@media (max-width: 1270px) {
  .testimonials__description {
    padding: 0 250px;
  }
}

@media (max-width: 1000px) {
  .testimonials__description {
    padding: 0 150px;
  }
}

@media (max-width: 768px) {
  .testimonials__description {
    padding: 0 50px;
  }
}

@media (max-width: 550px) {
  .heroHeader__title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .testimonials__description {
    padding: 0 30px;
  }
  
  .heroHeader__subtitle {
    font-size: 1.6rem;
  }
}