.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  width: 100%;
  height: 500px;
  background-image: url("/pics/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-self: center;
  margin-top: 250px;
  margin-bottom: 250px;
}

.heroHeader__title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.heroHeader__subtitle {
  font-size: 2.2rem;
}

.articles {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.articles__title {
  font-size: 2rem;
}

.articles__subtitle {
  font-size: 1.2rem;
}

.article {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.article__dummy__pic {
  height: 100px;
  width: 100px;
  background-color: darkviolet;
}

.skylineLogo {
  width: 20vh;
}

.footer {
  background-color: white;
  width: 100%;
  height: 30vh;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerWords {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroButton {
  width: 200px;
  height: 45px;
  background-color: hsl(45deg 45% 78%);
  border: 1px solid white;
  cursor: pointer;
  margin-top: 50px;
}

.heroButton:hover {
  background-color: yellow;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  background-color: hsl(42deg 38% 95%);
  margin-bottom: 100px;
}

.testimonials__title {
  font-size: 2rem;
}

.testimonials__rating {
  font-size: 1rem;
}

.testimonials__quotes {
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.testimonials__review {
  padding: 0 100px;
}

.testimonials__reviewer {
  font-size: 1rem;
}